* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #370617;
  position: relative;
}

.main {
  margin: 0 auto;
  padding-top: 75px;
  font-size: 35px;
  width: 80%;
}

.game-name {
  color: #b9bbb2;
  text-align: center;
}

.game-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.player-score {
  margin-top: 15px;
  text-align: center;
  color: #76c893;
  font-size: 54px;
}

.player-avatar {
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #b9bbb2;
  width: 300px;
}

.game-buttons {
  margin: 150px 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.game-option {
  padding: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1px 1px #ccd5ae;
  background-color: #03071e;
  transition: all ease 0.07s;
}

.game-option:hover {
  box-shadow: 0 0 4px 4px #ccd5ae;
  cursor: pointer;
  transform: scale(1.1);
}

.game-option:active {
  box-shadow: 0 0 4px 4px #f8e00a;
}

.game-option > img {
  width: 200px;
  pointer-events: none;
}

.round-result-container {
  margin-top: 75px;
  color: #b9bbb2;
  font-size: 28px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(5, 5, 5, 0.9);
}

.modal-content {
  position: relative;
  background-color: #000;
  color: #fff;
  margin: 15% auto;
  font-size: 36px;
  padding: 150px 20px 150px 20px;
  border: 1px solid #888;
  width: 850px;
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  transform: scale(1.5);
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all ease 0.07s;
}

.close:hover,
.close:focus {
  color: rgb(114, 22, 22);
  text-decoration: none;
  cursor: pointer;
}
